@font-face {
    font-family: "Tesla";
    src: url(./fonts/ethnocentric\ rg.otf);
}

body {
    background-color:#000;
}

h1 {
    color:#FFF;
    text-align: center; 
    font-family: "Tesla";
}
img {
    width : 500px;
    height : 500px;
}
h2{
    text-align: center;
    font-family: "Tesla";
}
h3{
    color:#FFF;
    text-align: center;
    font-family: "Tesla";
}
h4{
    color:#FFF;
    text-align:left;
    font-family: "Tesla";
}
table{
    border: #FFF;
    margin:auto;
    text-align:center;
	
}


button{
    background: #ff009d;
    color: #fff;
    width: auto;
    border-radius: 70px;
    line-height: 1.5em;
    border: none;
    text-align:center;
    font-family: verdana;
	margin: 2px;
}

li{
    color:#FFF;
    font-family: Verdana;
    border-color: #000;
}




.chiffre{
	width : 3%;
	height : 50px;
	color: white;
	font-family: 'Tesla';
	
}
.lettre{width : 3%;
	height : 50px;
	color: white;
	font-family: 'Tesla';
	
}

.case_B{
	color : yellow;
	font-family: 'Tesla';
	background-color : white;
	height : 60px;
	width : 60px;
	color: white;
}

.case_N{
	background-color : #757575;
	height : 60px;
	width : 60px;
	color: white;
	font-family: 'Tesla';
}

.cell {
    height: 30px;
    width: 30px;
    border: 1.5px solid rgb(128, 128, 128);
    border-style: inset;
}



img{
    width: 65px;
    height: 65px;
}

.piece {
	width: 55px;
    height: 55px;
}

#info_case{
	height: 70px;
	width : 20%;
	background-color: white;
	border : solid ;
	border-width : 5px;
	border-color : #ff009d;
	color : black;
}

#P_mortes_B{
	background-color:gray;
	
}

#bouton_menu{
	width : 10%;
	height : 25px;
	border-radius: 0px;
	background-color:  gray;
}
#bouton_opts_avance{
	width : 10%;
	height : 25px;
	border-radius: 0px;
	background-color:  gray;
}
