@font-face {
    font-family: "Tesla";
    src: url(./fonts/ethnocentric\ rg.otf);
}

body {
    background-color:rgb(0, 0, 0);
    color:rgb(255,255,255);
    font-family: Verdana;
}

button{
    background: #ff009d;
    color: #fff;
    width: auto;
    border-radius: 70px;
    line-height: 1.5em;
    border: none;
    text-align:center;
    font-family: verdana;
}
